.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%; 
}

.info-content {
    background-color: pink;
    width: 500px;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.special-thanks li {
    margin-bottom: 5px;
}

.special-thanks {   
    margin-block-start: 5px;
    padding-inline-start: 10px;
    list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
}
