#fish-race-container {
  box-sizing: border-box;
  padding-top: 20px;
  width: 100%; 
  height: 45vw;
  max-height: 80%;
}

#description {
  padding-bottom: 20px;
  font-style: italic;
  text-align: right;
}
