#content-container {
  display: flex;
}

#menu {
  box-sizing: border-box;
  width: 200px;
  max-width: 30%;
  padding-top: 10px;
  padding-left: 10px;
  position: fixed;
  left: 0;
  top: 0;
}

#project-content {
  box-sizing: border-box;
  margin-left: min(30%, 200px);
  width: max(70%, calc(100% - 200px));
  padding-right: min(20px, 3%);
  max-width: 1200px;
}
/* TODO: move this css style to the individual components */
/* #project-content div iframe {
  width: 100%;
  height: 100%;
} */

#project-content .empty-spacing {
  min-height: 100px;
}

#title {
  font-weight: bold;
  margin-bottom: 30px;
}

#title a {
  text-decoration: none;
  color:black;
  display: block;
}

#projects {
  list-style: none;
  padding-inline-start: 0;
}

.menu {
  padding-inline-start: 10px;
  padding-right: 10px;
}

.menu a {
  text-decoration: none;
  color:black;
  display: block;
}

.menu a:visited {
  color: black;
}

.menu .active {
  font-weight: bold;
}

.menu a:hover {
  background-color: lightpink;
}

/* TODO: Figure out if this needs to be there */
/* menu li {
  margin-bottom: 3px;
} */
